In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1, 2, 3, 4, np.nan, 6, 7, 8, 9, 10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [4]:
d = pd.date_range("20190101", periods=10)
d

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(10, 4), index=d, columns=list("ABCD"))
df

                   A         B         C         D
2019-01-01  1.052785 -0.467300  0.116777  1.099834
2019-01-02 -0.228272  0.752493  1.206947 -1.082703
2019-01-03  0.478717  0.532711  1.277809 -0.084117
2019-01-04 -0.344466  0.641272  0.712084  0.392935
2019-01-05  3.047488  0.481874  0.655247 -1.505028
2019-01-06 -0.136982 -2.003905 -0.468037  1.675280
2019-01-07 -0.526448  0.371272 -1.497466  0.616061
2019-01-08  0.486165  0.576467 -0.174875  0.950030
2019-01-09  0.158586 -0.187931 -2.162533  0.008876
2019-01-10  0.047642  0.461858 -0.321694 -0.657822

In [6]:
df1 = pd.DataFrame(
    {
        'A': [1, 2, 3, 4],
        'B': pd.Timestamp('20200301'),
        'C': pd.Series(1, index=list(range(4)), dtype='Float32'),
        'D': np.array([5] * 4, dtype='int32'),
        'E': pd.Categorical(['true', 'false', 'true', 'false']),
        'F': 'Edureka',
    }
)

In [7]:
df1

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  false  Edureka
2  3 2020-03-01  1.0  5   true  Edureka
3  4 2020-03-01  1.0  5  false  Edureka

In [8]:
df1.dtypes

A            int64
B    datetime64[s]
C          Float32
D            int32
E         category
F           object
dtype: object

In [9]:
df.head()

                   A         B         C         D
2019-01-01  1.052785 -0.467300  0.116777  1.099834
2019-01-02 -0.228272  0.752493  1.206947 -1.082703
2019-01-03  0.478717  0.532711  1.277809 -0.084117
2019-01-04 -0.344466  0.641272  0.712084  0.392935
2019-01-05  3.047488  0.481874  0.655247 -1.505028

In [10]:
df.tail

<bound method NDFrame.tail of                    A         B         C         D
2019-01-01  1.052785 -0.467300  0.116777  1.099834
2019-01-02 -0.228272  0.752493  1.206947 -1.082703
2019-01-03  0.478717  0.532711  1.277809 -0.084117
2019-01-04 -0.344466  0.641272  0.712084  0.392935
2019-01-05  3.047488  0.481874  0.655247 -1.505028
2019-01-06 -0.136982 -2.003905 -0.468037  1.675280
2019-01-07 -0.526448  0.371272 -1.497466  0.616061
2019-01-08  0.486165  0.576467 -0.174875  0.950030
2019-01-09  0.158586 -0.187931 -2.162533  0.008876
2019-01-10  0.047642  0.461858 -0.321694 -0.657822>

In [11]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.to_numpy()

array([[ 1.05278525, -0.46729987,  0.11677738,  1.09983359],
       [-0.2282716 ,  0.75249282,  1.20694748, -1.08270284],
       [ 0.47871678,  0.53271092,  1.27780938, -0.08411738],
       [-0.34446617,  0.64127173,  0.71208363,  0.39293494],
       [ 3.04748841,  0.48187382,  0.65524675, -1.5050276 ],
       [-0.13698165, -2.00390475, -0.46803738,  1.67528004],
       [-0.52644778,  0.37127182, -1.49746567,  0.61606147],
       [ 0.48616545,  0.57646666, -0.17487505,  0.95003001],
       [ 0.15858586, -0.187931  , -2.1625331 ,  0.00887574],
       [ 0.04764183,  0.46185757, -0.32169393, -0.65782192]])

In [14]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.403522   0.115881  -0.065574   0.141335
std     1.039598   0.837454   1.118960   1.007206
min    -0.526448  -2.003905  -2.162533  -1.505028
25%    -0.205449  -0.048130  -0.431452  -0.514396
50%     0.103114   0.471866  -0.029049   0.200905
75%     0.484303   0.565528   0.697874   0.866538
max     3.047488   0.752493   1.277809   1.675280

In [15]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-01-01  1.099834  0.116777 -0.467300  1.052785
2019-01-02 -1.082703  1.206947  0.752493 -0.228272
2019-01-03 -0.084117  1.277809  0.532711  0.478717
2019-01-04  0.392935  0.712084  0.641272 -0.344466
2019-01-05 -1.505028  0.655247  0.481874  3.047488
2019-01-06  1.675280 -0.468037 -2.003905 -0.136982
2019-01-07  0.616061 -1.497466  0.371272 -0.526448
2019-01-08  0.950030 -0.174875  0.576467  0.486165
2019-01-09  0.008876 -2.162533 -0.187931  0.158586
2019-01-10 -0.657822 -0.321694  0.461858  0.047642

In [17]:
df.sort_values(by='C')

                   A         B         C         D
2019-01-09  0.158586 -0.187931 -2.162533  0.008876
2019-01-07 -0.526448  0.371272 -1.497466  0.616061
2019-01-06 -0.136982 -2.003905 -0.468037  1.675280
2019-01-10  0.047642  0.461858 -0.321694 -0.657822
2019-01-08  0.486165  0.576467 -0.174875  0.950030
2019-01-01  1.052785 -0.467300  0.116777  1.099834
2019-01-05  3.047488  0.481874  0.655247 -1.505028
2019-01-04 -0.344466  0.641272  0.712084  0.392935
2019-01-02 -0.228272  0.752493  1.206947 -1.082703
2019-01-03  0.478717  0.532711  1.277809 -0.084117

In [18]:
df['B']

2019-01-01   -0.467300
2019-01-02    0.752493
2019-01-03    0.532711
2019-01-04    0.641272
2019-01-05    0.481874
2019-01-06   -2.003905
2019-01-07    0.371272
2019-01-08    0.576467
2019-01-09   -0.187931
2019-01-10    0.461858
Freq: D, Name: B, dtype: float64

In [20]:
df[0:4]

                   A         B         C         D
2019-01-01  1.052785 -0.467300  0.116777  1.099834
2019-01-02 -0.228272  0.752493  1.206947 -1.082703
2019-01-03  0.478717  0.532711  1.277809 -0.084117
2019-01-04 -0.344466  0.641272  0.712084  0.392935